.container {
    padding:25px;
    }
    
.image {
      float:left;
      /* width:40%; */
      height:40%;
    }
    
.text {
      float: left;
      width: 40%;
      height: 40%;
      padding : 25px;
    }